form{
    margin: 2%;

    label{
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: 'lato';
        margin-top: 2%;
    }
    input,textarea {
        width: 100%;
        border: 1px solid black; 
        background: #f8f8f3;
        margin-top: 3px;
    }

    input[type=submit]{
        color: white;
        font-size: 1.3rem;
        padding: 3%;
        background: black;
        font-family: 'lato';
        font-weight: 300;
        text-transform: uppercase;

        &:hover{
            background: #a3a096;
            cursor: pointer;
        }
    }
}


